.dropdown1 {
  max-width: 180px;
  width: 100%;
  height: 50px;

  font-size: 14px;
  font-weight: 600;
}

.dropdownControl1 {
  width: 100%;
  height: 50px;

  padding: 0 20px !important;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f0f0f0;

  border: none;

  border-bottom: 1px solid #999;
}

.dropdownMenu1 {
  z-index: 9999;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
